<!doctype html>
<html>
<head>
    <title>SimpleNotes</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body {
            padding-top:80px;
        }

        .jumbotron {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Welcome to SimpleNotes</h1>
        <p>Create an account and start managing your notes!</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-lock"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-chevron-right"></span> Signup</a>
    </div>
</div>
</body>
</html>